@import "bootstrap/scss/bootstrap";
@import "bootstrap-vue-3/src/styles/styles.scss";

$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts/";
@import "bootstrap-icons/font/bootstrap-icons.scss";

body {
    transition: background-color .1s ease
}

html.dark {
    body {
        background-color: $gray-800;
    }
}