@import "bootstrap/scss/bootstrap";

$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts/";
@import "bootstrap-icons/font/bootstrap-icons";

body {
  transition: background-color 0.1s ease;
}

html.dark {
  body {
    background-color: $gray-800;
    color: $light;
  }
}